nav {
   background-color: rgba(158, 155, 155, 0.659);
    width: 100%;
    margin-bottom: 25px;
}
nav ul {
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav li {
    list-style-type: none;
}
NavLink {
    text-decoration: none;

}